<h1>Alert Dismissing</h1>
<div class="alert">
    <p class="alert-close">x</p>
    <p class="">Esta es una alerta que se puede cerrar</p>
</div>

<h1>Collapse</h1>
<button class="btn btn-collapse">Colapsar</button>
<div class="collapse-container">
    <p>Contenido <br>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non corrupti et tenetur, assumenda, ut eius aliquam odit suscipit quidem dolores enim debitis voluptatem mollitia. Repellat iure ad dignissimos id voluptas.</p>
</div>

<h1>Collapse Accordion</h1>
<div class="accordion">
    <div class="collapse-accordion-item">
        <div class="btn-accordion-container">
            <button target = "accordion-1"  class="btn-accordion">Accordion 1</button>
        </div>
        <div id="accordion-1" class="collapse-accordion">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non corrupti et tenetur, assumenda, ut eius aliquam odit suscipit quidem dolores enim debitis voluptatem mollitia. Repellat iure ad dignissimos id voluptas.
        </div>
    </div>
    <div class="collapse-accordion-item">
        <div class="btn-accordion-container">
            <button target = "accordion-2" class="btn-accordion">Accordion 2</button>
        </div>
        <div id="accordion-2" class="collapse-accordion">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non corrupti et tenetur, assumenda, ut eius aliquam odit suscipit quidem dolores enim debitis voluptatem mollitia. Repellat iure ad dignissimos id voluptas.
        </div>
    </div>
    <div class="collapse-accordion-item">
        <div class="btn-accordion-container">
            <button target = "accordion-3"  class="btn-accordion">Accordion 3</button>
        </div>
        <div id="accordion-3" class="collapse-accordion">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non corrupti et tenetur, assumenda, ut eius aliquam odit suscipit quidem dolores enim debitis voluptatem mollitia. Repellat iure ad dignissimos id voluptas.
        </div>
    </div>

</div>
